
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
**/bin/
**/obj/

**/Platforms/**/bin/
**/Platforms/**/obj/
*.apk
*.apks
*.aab
*.zip
*.apkarchive

*.keystore
*.jks
*.p12
secrets.properties

.idea/

*.nupkg
packages/

Thumbs.db
.DS_Store

*.log

*.tmp
~$*

AppPackages/
**/Archives/**

publish/

.vscode/
```